<div class="container">
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color" [style.position]="tile.position" [style.z-index]="tile.zindex">
            <!-- Render component if tile has a component defined -->
            <ng-container *ngIf="tile.component">
                <ng-container *ngComponentOutlet="tile.component"></ng-container>
            </ng-container>
            <!-- Otherwise, render tile text -->
            <span *ngIf="!tile.component">{{ tile.text }}</span>
        </mat-grid-tile>
    </mat-grid-list>
</div>