<p>edit-password-dialog works!</p>
<h2 class="title">This is a Dialog title</h2>

<mat-dialog-content class="content">
    <form [formGroup]="form">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
            <mat-error *ngIf="form.hasError('passwordMismatch')">Passwords do not match</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <button class="submit-btn mat-raised-button" (click)="submitForm()">Submit</button>
    <button class="clear-btn mat-raised-button" (click)="form.reset()">Clear</button>
    <button class="close-btn mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>