.container {
  width: 100vw;
  height: 100px;

}

.search {
  width: 100%;
  padding-top: 42px;
}

.search-form {
  padding-left: 30px;
  min-width: 180px;
  max-width: 390px;
}

.search-full-width {
  width: 100%;
}

.title {
  width: 100%;
}

.logo {
  padding-top: 0px;
}

.tabs {
  width: 100%;
}

.user-options {
  padding-top: 0px;
}

mat-grid-tile {
  border: 2px solid red;
  justify-content: center;
  text-align: center;
  align-items: center;
}