<div class="container">
  <mat-grid-list cols="12" rowHeight="100px">
    <!-- Logo -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="logo">
        <img src="../../assets/images/file-sTSxsvvMrxkO0huhxU17e6wI.png" alt="Logo"
          style="width: 102px; border-radius: 5%; border: 2px solid rgb(93, 93, 192)" />
      </div>
    </mat-grid-tile>
    <!-- Title -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="title">
        <span>Expert Freezer</span>
      </div>
    </mat-grid-tile>

    <!-- Search bar -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="search">
        <form class="search-form">
          <mat-form-field class="search-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
        </form>
      </div>
    </mat-grid-tile>

    <!-- tabs -->
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div class="tabs">
        <mat-tab-group class="mat-tab-group" (selectedTabChange)="onTabClick($event)">
          <mat-tab label="Feed"></mat-tab>
          <mat-tab label="Saved"></mat-tab>
          <mat-tab label="My Profile"></mat-tab>
        </mat-tab-group>
      </div>
    </mat-grid-tile>

    <!-- Logout button -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="user-options">
        <span *ngIf="isLoggedIn(); else notLoggedIn">
          <button mat-button class="edit-profile-button" (click)="openEditProfileDialog()">Edit</button>
          <button mat-button class="logout-button" (click)="logout()">Logout</button>
        </span>
        <ng-template #notLoggedIn>
          <button mat-button class="register-button" (click)="openRegisterDialog()">Register</button>
          <button mat-button class="login-button" (click)="openLoginDialog()">Login</button>
        </ng-template>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>